body {
    font-family: 'Ubuntu', sans-serif;
}

.login-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 10px solid black;
    font-family: 'Ubuntu', sans-serif;
}

.email {
    width: 90%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

.pass {
    width: 90%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
}

.name {
    width: 75px;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    background: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
}

.submit {
    cursor: pointer;
    background: #3366cc;
    color: #fff;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

.register-submit {
    cursor: pointer;
    background: #0442a5;
    color: #fff;
    border: 0;
    display: inline-block;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

.question-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 75%;
    border: 10px solid black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.button {
    width: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    background: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
	  float: right;
}

.add {
    width: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    background: #5f94fc;
    color: #fff;
    border: 1px solid #3366cc;
}

.box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 10px solid black;
}

.allQuestionBox{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    width: 100%;
    border: 2px solid black;
}

.allAnswerBox{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    width: 100%;
    border: 2px solid blue;
}


.registration-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 10px solid black;
    font-family: 'Ubuntu', sans-serif;
}

.inputBox {
    width: 90%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.edit-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 20%;
    border: 10px solid black;
}

.home {
    width: auto;
	padding: 10px;
    background: #3366cc;
    color: #fff;
}

.added-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 20%;
    border: 10px solid black;
}

.update {
    width: auto;
    background: #3366cc;
    color: #fff;
    border: 1px solid black;
}

.add-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 20%;
    border: 10px solid black;
}

.home {
    width: auto;
	padding: 10px;
    background: #3366cc;
    color: #fff;
}

.add {
    width: auto;
    background: #3366cc;
    color: #fff;
    border: 1px solid black;
}

/*nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #3366cc;
}
/*nav bar end*/
