body {
    font-family: 'Ubuntu', sans-serif;
}

.login-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 10px solid black;
    font-family: 'Ubuntu', sans-serif;
}

.email {
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

.pass {
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
}

.name {
    width: 75px;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    background: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
}

.submit {
    cursor: pointer;
    background: #3366cc;
    color: #fff;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    /*
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    */
}

.question-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 65%;
    border: 10px solid black;
}

.button {
    width: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    background: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
	  float: right;
}

.add {
    width: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    background: #5f94fc;
    color: #fff;
    border: 1px solid #3366cc;
}

.box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 400px;
    border: 10px solid black;
}

.registration-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 10px solid black;
    font-family: 'Ubuntu', sans-serif;
}

.inputBox {
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.edit-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 20%;
    border: 10px solid black;
}

.home {
    width: auto;
	padding: 10px;
    background: #3366cc;
    color: #fff;
}

.added-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 20%;
    border: 10px solid black;
}

.update {
    width: auto;
    background: #3366cc;
    color: #fff;
    border: 1px solid black;
}

.add-box{
    background-color: #99c0ff;
    color: black;
    margin: auto;
    padding: 20px;
    width: 20%;
    border: 10px solid black;
}

.home {
    width: auto;
	padding: 10px;
    background: #3366cc;
    color: #fff;
}

.add {
    width: auto;
    background: #3366cc;
    color: #fff;
    border: 1px solid black;
}